.places__place_paragraph {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29,34px;
    color: #ffffff;
    max-width: 484px;
}

@media screen and (max-width: 768px) {
    .places__place_paragraph {
        font-size: 16px;
        line-height: 26,08px;
        max-width: 352px;
        }
}

@media screen and (max-width: 630px) {
    .places__place_paragraph {
        font-size: 16px;
        line-height: 26,08px;
        max-width: 100%;
   }
}

@media screen and (max-width: 320px) {
    .places__place_paragraph {
        margin-bottom: 25px;
        margin-left: 16px;
        max-width: 288px;
    }
}
