.header__lang-link_active {
  text-decoration: underline;
  transition: opacity 0.8s ease;
}

.header__lang-link_active:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .header__lang-link_active {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
