.footer {
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  margin-top: 92px;
  margin-bottom: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 636px) {
  .footer {
    margin-top: 64px;
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
    margin-left: 16px;
  }
}
